@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap");

.app-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  height: auto;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  grid-template-areas:
    "header header "
    "nav content ";
  background: url("https://cdn.pixabay.com/photo/2015/12/19/02/12/texture-1099399__340.jpg");
}

h1 {
  color: rgb(237, 243, 225);
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: darkseagreen;
}

h2 {
  color: rgb(237, 243, 225);
  font-weight: 900;
}
h3 {
  color: rgb(237, 243, 225);
  font-weight: 500;
}

.app-wrapper-content {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  grid-area: content;
  background-color: rgba(224, 123, 6, 0.473);
}
